/* General Styles */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Section 1: Title Section */
#about-title {
    height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
}

#about-title h2 {
    font-size: 2.5rem;
    color: #168602;
}

#about-title p {
    font-size: 1.2rem;
    margin-top: 20px;
}

/* Section 2: About Section */
#about-content {
    padding: 50px 0;
    background-color: #ffffff;
}

#about-content h2 {
    margin-bottom: 20px;
}

#about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

/* Mission and Vision Sections */
.mission-vision-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    gap: 30px;
}

.mission-vision-content .image {
    flex: 1;
}

.mission-vision-content .image img {
    width: 100%;
    border-radius: 10px;
}

.mission-vision-content .text {
    flex: 1;
    text-align: left;
}

.mission-vision-content .text h3 {
    font-size: 2rem;
    color: #168602;
}

.mission-vision-content .text p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

/* Section 3: Mission */
#mission {
    background-color: #f4f4f4;
}

#mission .text {
    text-align: right;
    order: 1;
}

#mission .image {
    order: 2;
}

/* Section 4: Vision */
#vision {
    background-color: #ffffff;
}

#vision .text {
    order: 2;
}

#vision .image {
    order: 1;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .mission-vision-content {
        flex-direction: column;
    }

    #mission .text,
    #mission .image,
    #vision .text,
    #vision .image {
        order: 1;
        text-align: center;
    }

    #vision .text {
        order: 2;
    }
}


.cta-button {
    background-color: white;
    color: #168602;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}