:root {
    --primary-color: #168602;
    --secondary-color: #252721;
    --light-color: #F5F5F5;
    --light-background: #EEEEFE;
    --dark-color: #333;
    --gray-color: #aaa;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-background);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    text-align: center;
}

h1, h2 {
    color: var(--primary-color);
}

footer {
    background-color: #252721;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* About Us Hyperlink */
#about-link a {
    color: #168602;
    text-decoration: none;
    font-size: 1.5rem;
}

#about-link a:hover {
    text-decoration: underline;
}

/* What We Offer Section */
#what-we-offer {
    background-color: #fff;

}

#what-we-offer h2 {
    margin-bottom: 20px;
}

#what-we-offer p {
    margin-bottom: 40px;
}


@media (max-width: 768px) {
    #home h1 {
        font-size: 2rem;
    }

    #home p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    section {
        padding: 40px 15px;
    }
}




/* SCROLL BAR width */
::-webkit-scrollbar {
    width: 7px;
  
}

/* Track */
::-webkit-scrollbar-track {
background: #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
background: #fff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #fefefe; 
}
/*END SCROLLBAR*/